p{
    font-family:cursive;
    font-size: 30px;
    font-weight: bold;
    color:darkcyan;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline;
    letter-spacing: 1px;
    word-spacing: 1px;
}

img{
    vertical-align: baseline;
    position: relative;
    left:550px;
}