body {
    background-color:darkblue;
    color: white;
}

ul {
    list-style:square;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    position: relative;
    top:-140px;
    left: 190px;
}

.a {
    list-style: decimal;
    list-style-position: inside;
}

.b {
    list-style: lower-alpha;
    list-style-position: outside;
}

.c {
    list-style: armenian;
    list-style-position: inside;
}

table {
    position: relative;
    top: 100px;
    height:200px;
    width:200px;
    border-style:solid;
    border-width: 3px;
    background-color: hotpink;
    font-family: Arial, Helvetica, sans-serif;
    size: 10px;
    padding: 20px;
    border: 1px solid black;
}

th,td{
    size:10%;
    padding:20px;
    border:1px solid rgb(255, 255, 255);
     /* border-collapse: collapse; => collapses the table margin */
}

/* To study: empty cell */

