*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}


.box{
    border:10px solid rebeccapurple;
    text-align:center;
    background-color:cornflowerblue;
    padding:5px;
    height:200px;
    width:200px;
    margin: 50px;
}